{% extends "dashboard/base.html" %}
{% load static i18n avatar %}
{% block title %}{{object.kname}}{% endblock %}

{% block content %}
{% if object.group_pic %}
<section class="hero-wrap d-flex flex-column justify-content-end"
style="background: linear-gradient(rgb(148,163,184,0.8), rgb(51,65,85,0.8)), url({{object.group_pic.url}}); background-size: cover; background-position: center;" 
    >
{% else %}
<section class="hero-wrap d-flex flex-column justify-content-end"
    style="background:linear-gradient(rgb(148,163,184,0.8), rgb(51,65,85,0.8)), url('{% static 'assets/img/illustrations/group_default.jpeg' %}') ; background-blend-mode: multiply; background-size:cover; background-position:center;">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
        <h1 class="mb-2">{{object.kname}}</h1>
        {% if object.description %}
            <p class="mb-4">{{object.description}}</p>
        {% endif %}
        {% if object.leader == request.user %}
            <a href="{% url 'update-group' object.uuid object.slug %}"><i class="fa fa-cog fa-5x"></i></a>
        {% endif %}
    </div>
</section>



<!-- Books container start -->

<div class="container mt-5">

 <h1 class="text-center mb-5 darkest-color">{{nb_of_books}} {% trans "Books" %}</h1>

{% if nb_of_books == 0 %}
   
<div class="d-flex p-2 justify-content-center">
    <a class="btn" href="{% url 'new-book-search' %}"
        <div class="sketch-box">
            <div class="card-cta border-0 sketch-box">
                <img class="card-icon mx-auto" src="{% static 'assets/img/icons/add-100.png' %}" alt="Card image cap" width="100px" >
                <div class="card-body">
                {% trans 'ADD FIRST BOOK' %}
                </div>
            </div>
        </div>
    </a>
</div>
{% else %}
<div class="d-flex justify-content-center">
{% for book in books %}
<a href="{% url 'book-detail' book.slug %}">
<div class="book-mini-card mx-auto">
{% if book.picture %}
      <img class="mx-auto" src="{{book.picture.url}}" alt="{{book.title}}" />
      {% elif book.cover %}
      <img class="mx-auto" src="{{book.cover}}" alt="{{book.title}}" />
      {% else %}
      <img class="mx-auto" src="{% static 'assets/img/illustrations/book-default.png'%}" alt="{{book.title}}" />
      {% endif %}
    <p class="title mt-1 mb-0">{{book.title}}</p>
    <p class="author">{{book.author}}</p>
</div>
</a>
{% endfor %}
</div>

<!-- Books container End -->
{% endif %}












<!-- Floating button -->
<a href="{% url 'new-book-search' %}">
<div class="kfloat" data-bs-toggle="tooltip" title="{% trans 'Add Book' %}">
<div class="my-float">+</div>
</div>
</a>



{% endblock %}
{% block extrajs %}
<script>
  const copyBtn = document.getElementById('copy-btn')
  const url = document.location.href
  
  console.log(copyBtn)
  copyBtn.addEventListener('click', () => {
    
    const code= copyBtn.getAttribute('data')
    
    invitation = "I suggest you to join the group I have created on \n"
    line = "\n ********************* \n" 
    code_invit = "\n The code to join the group is:\n " + code
    navigator.clipboard.writeText(invitation + url + line + code_invit)
    
   
   
    copyBtn.textContent = "Copied !"
  })
</script>


<script>
$(function() {

        var $myGroup = $('#filterGroup');
        $myGroup.on('show.bs.collapse','.collapse', function() {
        $myGroup.find('.show').collapse('hide');
        });
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
</script>



{% endblock extrajs %}