{% extends "dashboard/base.html" %}
{% load avatar i18n static %}
{% block title %}{% trans 'Add/Edit Book' %}{% endblock title %}
{% block content %}


<!-- New Form -->
<div class="d-flex align-items-center justify-content-center">
  <form class="kform" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
      <div class="alert alert-danger alert-dismissible" role="alert">
          <div id="form_errors">
              {% for key, value in form.errors.items %}
              <strong>{{ value }}</strong>
              {% endfor %}
          </div>
          
      </div>
    {% endif %}
    
    
    <p class="title">
    {% if book %}
    {% trans 'Edit' %} {{book.title }}
    {% else %}

    {% trans 'Add Book' %}
    {% endif %}
    </p>
    
    <input
      type="file"
      id="fileElem"
      multiple
      accept="image/*"
      name="picture"
      style="display:none" 
      />
      <div class="text-center mx-auto">
      
        <a href="#" id="fileSelect" class="avatar-upload">
          {% if book %}
          <img id="add-image" class="" src="{{book.cover}}" style="cursor: pointer;"/>
          {% else %}
          <img id="add-image" class="" src="{% static 'assets/img/illustrations/book-placeholder.jpeg' %}" style="cursor: pointer; height:150px;"/>
          {% endif %}

          
        </a>
      
      
      </div>
      <div id="fileList" class="mt-3 color-light">
        <p></p>
      </div>
        <p class="mb-0 mid-color">{% trans "Title" %}</p>
        {{form.title}}
        {% for error in form.title.errors %}
            <p class="error bg-brand-color ps-2 text-white">{{ error }}</p>
        {% endfor %}

        <p class="mb-0 mid-color">{% trans "Author" %}</p>
        {{form.author}}
        {% for error in form.author.errors %}
            <p class="error bg-brand-color ps-2 text-white">{{ error }}</p>
        {% endfor %}

        <p class="mb-0 mid-color">{% trans "Pages" %}</p>
        {{form.pages}}
        {% for error in form.pages.errors %}
            <p class="error bg-brand-color ps-2 text-white">{{ error }}</p>
        {% endfor %}
       <p class="mb-0 mid-color">{% trans "Description" %}</p>
       {{form.description}}
        {% for error in form.description.errors %}
            <p class="error bg-brand-color ps-2 text-white">{{ error }}</p>
        {% endfor %}
       <p class="mb-0 mid-color">{% trans "Isbn-10" %}</p>
       {{form.isbn}}
        {% for error in form.isbn.errors %}
            <p class="error bg-brand-color ps-2 text-white">{{ error }}</p>
        {% endfor %}

       {% if kgroups %}
       <p class="text-center">{% trans 'Where' %}?</p>
      <div class="modal-choice-box d-flex flex-wrap justify-content-center">
      {% for group in kgroups %}
            <div class="choice-container">
              <p class="text-center pt-1">{{ group.kname }}</p>
              <input class="mt-2" type="checkbox" value="{{group.uuid}}" name="group" requested />
              <label for="dessert-1">
                {% if group.picture %}
                    <img src="{{ group.picture.url }}">
                {% else %}
                  <img src="{% static 'assets/img/illustrations/group_default.jpeg' %}" alt="Dish picture"  >
                {% endif %}
              </label>
            </div>
        {% endfor %}
        </div>

       {% endif %}

        

    
      

       


      
       
        
        
        
      
      
      <button class="submit mt-4" type="submit" name="create-meal">{% trans 'Submit' %}</button>
      <div class="text-center d-flex flex-column">
        <a href="{% url 'all-books' %}" class="mid-color">{% trans 'Cancel' %}</a>
        {% if book %}
        <a href="#" type="button" class="joy-color" data-bs-toggle="modal" data-bs-target="#deleteMealModal"><i class="fa-solid fa-trash pe-2"></i>{% trans 'Delete Book' %}</a>
        <!-- Modal delete book -->
        <div class="modal fade" id="deleteMealModal" tabindex="-1" aria-labelledby="deleteMealModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="text-center">
                <img src="{% static 'assets/img/icons/error-100.png' %}" alt="error icon" />
                <br/>
                <h5 class="modal-title mid-color" id="exampleModalLabel">{% trans 'Delete Book ?' %}</h5>
              </div>
              <div class="text-center">
                <p class="darkest-color p-4">{% trans "You will lose all the memories, but hey, no pression..." %}</p>
              </div>
              <div class="d-flex justify-content-evenly pb-2">
                <a href="{% url 'delete-book' book.slug %}"  class="btn btn-mid-color btn-modal" >{% trans "Yes, no regret" %}</a>
                <a type="button" class="btn btn-outlined btn-modal outline-mid-color" data-bs-dismiss="modal">{% trans 'Cancel' %}</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      

  </form>
</div>



 
{% endblock content %}

{% block extrajs %}
<script>
const fileSelect = document.getElementById("fileSelect"),
  fileElem = document.getElementById("fileElem"),
  fileList = document.getElementById("fileList");

fileSelect.addEventListener(
  "click",
  (e) => {
    if (fileElem) {
      fileElem.click();
    }
    e.preventDefault(); // prevent navigation to "#"
  },
  false
);

fileElem.addEventListener("change", handleFiles, false);

function handleFiles() {
  if (!this.files.length) {
    fileList.innerHTML = "<p>No files selected!'</p>";
  } else {
    fileList.innerHTML = "";
    const list = document.createElement("ul");
    fileList.appendChild(list);
    for (let i = 0; i < this.files.length; i++) {
      const li = document.createElement("li");
      list.appendChild(li);

      //if updating a previous profile pic
      const img = document.getElementById("change-image");
      if (img) {
      img.src = URL.createObjectURL(this.files[i]);
      img.height = 150;
      img.width = 100;
      img.className = "mx-auto";
      img.onload = () => {
        URL.revokeObjectURL(img.src);
      };
      }
      
      //if add profile pic
      const newImg = document.getElementById("add-image");
      const avatar = document.getElementsByClassName("avatar")[1];
      if (newImg) {
      newImg.src = URL.createObjectURL(this.files[i]);
      newImg.height = 150;
      newImg.width = 100;
      newImg.className = "mx-auto";
      newImg.classList.remove("d-none");
      avatar.classList.add("d-none");
      
      }
    }
  }
}
</script>
{% endblock extrajs%}