{% extends 'dashboard/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Books' %}{% endblock %}
{% block content %}

{% if group %}
    <h1 class="text-center">{% trans 'Books of' %} {{group.kname}}</h1>
{% endif %}

{% if unique_kbooks %}
    
<div class="d-flex flex-column align-items-center mt-3">
        {% for book in unique_kbooks %}
            <a href="{% url 'book-detail' book.slug %}" class="book-card-link">
            <div class="book-small-horizontal-card d-flex shadow align-items-center mx-auto">
                <div>
                    {% if book.picture %}
      <img class="mx-auto" src="{{book.picture.url}}" alt="{{book.title}}" />
      {% elif book.cover %}
      <img class="mx-auto" src="{{book.cover}}" alt="{{book.title}}" />
      {% else %}
      <img class="mx-auto" src={% static 'assets/img/illustrations/book-default.png'%} alt="{{book.title}}" />
      {% endif %}
                </div>
                <div class="ms-2">
                    <p class="title">{{ book.title }}</p>
                    <p class="author">{{ book.author }}</p>
                    
                </div>
            </div>
            </a>
        {% endfor %}
 </div>   


{% else %}
    <img class="form-img" src={% static 'assets/img/illustrations/book-search.svg' %}  />
{% endif %}

<!-- Floating button -->
<a href="{% url 'new-book-search' %}">
<div class="kfloat" data-bs-toggle="tooltip" title="{% trans 'Add Book' %}">
<div class="my-float">+</div>
</div>
</a>

{% endblock %}