{% extends 'dashboard/base.html' %}

{% load static i18n %}

{% block title %}{% trans 'Remove Book' %}{% endblock %}

{% block content %}

<div class="text-center">
                <img src="{% static 'assets/img/icons/error-100.png' %}" alt="error icon" />
                <br/>
                <h5 class="modal-title mid-color" id="exampleModalLabel">{% trans 'Remove Book ?' %}</h5>
              </div>
              <div class="text-center">
                <p class="darkest-color p-4">{% trans "You will lose all the memories, but hey, no pression..." %}</p>
              </div>
        

{% for kbook in user_kbooks %}
  <a href="{% url 'delete-book' kbook.slug %}" type="button" class="brand-color text-center" ><i class="fa-solid fa-trash pe-2"></i>{% trans 'Remove Book from' %} {{kbook.group.kname}}</a>
{% endfor %}


  {% for kbook in user_kbooks%}
  {% if kbook.sharing_groups %}
  {% for group in kbook.sharing_groups.all %}
  <a href="#" type="button" class="brand-color text-center" data-bs-toggle="modal" data-bs-target="#deleteSharingModal"><i class="fa-solid fa-trash pe-2"></i>{% trans 'Remove Book from' %} {{group.kname}}</a>
  <!-- Modal delete book from sharing club -->
<div class="modal fade" id="deleteSharingModal" tabindex="-1" aria-labelledby="deleteSharingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="text-center">
        <img src="{% static 'assets/img/icons/error-100.png' %}" alt="error icon" />
        <br/>
        <h5 class="modal-title mid-color" id="exampleModalLabel">{% trans 'Remove Book from' %} {{group.kname}} ?</h5>
      </div>
      <div class="text-center">
        <p class="darkest-color p-4">{% trans "If you remove the book from the club, all memories associated will be unavailable to the members of the club." %}</p>
        <p class="darkest-color p-1">{% trans "You can just disable the option to borrow/loan it..." %}</p>
      </div>
      <div class="d-flex justify-content-evenly pb-2">
        <a href="{% url 'toggle-exchange' kbook.id %}"  class="btn btn-mid-color btn-modal" >{% trans "Disable the Borrowable option" %}</a>
        <a href="{% url 'delete-book-from-group' kbook.id group.slug %}"  class="btn btn-brand-color btn-modal pt-2" >{% trans "Remove it totally" %}</a>
      </div>
      <div class="text-center">
      <a type="button" class="btn btn-outlined btn-modal outline-mid-color text-center my-3" data-bs-dismiss="modal">{% trans 'Cancel' %}</a>
      </div>
    </div>
  </div>
</div>
  {% endfor %}
  {% endif %}
  
{% endfor %}

        <a  style="width:80px;" class="btn btn-rounded btn-mid-color mt-4" href="{% url 'book-detail' user_kbooks.first.slug %}">{% trans 'Cancel' %}</a>
        


{% endblock %}
      