{% extends "dashboard/base.html" %}
{% load avatar i18n static %}
{% block title %}{% trans 'Add Meeting' %}{% endblock title %}
{% block content %}

{{form.media}}
<!-- New Form -->
<div class="d-flex align-items-center justify-content-center">
    <form class="kform" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="text-center">
            <img src="{% static 'assets/img/icons/book-100.png' %}" alt="calendar icon" />
            <br/>
            <h5 class="modal-title brand-color" id="exampleModalLabel">
            {% if borrow %}
                {% trans 'Mark' %} <span class="dark-color"> </br> {{kbook.title}} </span> </br>{% trans 'as returned' %} ?</h5>
            
            {% else %}
                {% if kbook.owner != request.user %}
                    {% trans 'Borrow' %} <span class="dark-color"> </br> {{kbook.title}} </span> </br> {% trans 'from' %}<span class="dark-color"> </br> {{kbook.owner}} </span></h5>
                {% else %}
                    {% trans 'Loan' %} <span class="dark-color"> </br> {{kbook.title}} </span> </br> {% trans 'to' %}<span class="dark-color"> </br></span></h5>
                    {% if group %}
                        <select name="borrower">
                            {% for member in group.members.all %}
                                {% if member != request.user %}
                                <option value="{{ member.id }}">{{ member.pseudo }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        
        
        <button class="submit mt-4" type="submit" name="add-meeting">{% trans 'Yes' %}</button>
        <div class="text-center d-flex flex-column">
            {% if group %}
            <a href="{% url 'group-detail' group.slug %}" class="mid-color">
            {% else %}
            <a href="{% url 'book-detail' kbook.slug %}" class="mid-color">
            {% endif %}
            {% trans 'Cancel' %}
            </a>
            
        </div>


        

    </form>
        
        
        
       

</div>

{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>

{% endblock extrajs%}